* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    list-style: none;
    gap: 24px;
}

.content {
    width: 1000px;
    margin: auto;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 32px 0;
}